# Данные по теннисным матчам WTA 1969-2016

In [2]:
import numpy as np
import pandas as pd

fields = ['surface', 'winner_id', 'loser_id', 'winner_name', 'loser_name', 'winner_hand',
          'loser_hand','winner_ht', 'loser_ht', 'winner_ioc', 'loser_ioc', 'winner_age', 'loser_age']
df = pd.read_csv('wta_matches_1969.csv', usecols=fields)
for i in xrange(1970, 2017):
    fn = 'wta_matches_{0:d}.csv'.format(i)
    df_ = pd.read_csv(fn, usecols=fields)
    df = pd.concat([df, df_], ignore_index=True)
df

,surface,winner_id,winner_name,winner_hand,winner_ht,winner_ioc,winner_age,loser_id,loser_name,loser_hand,loser_ht,loser_ioc,loser_age
0,Grass,200190,Billie Jean King,R,NaN,USA,NaN,200191,Frances Luff,U,NaN,AUS,NaN
1,Grass,200150,Evonne Cawley,R,NaN,AUS,NaN,200192,Helen Kayser,U,NaN,AUS,NaN
2,Grass,200168,Karen Krantzcke,R,NaN,AUS,NaN,200155,Lexie Kenny,U,NaN,AUS,NaN
3,Grass,200149,Helen Sheedy,U,NaN,AUS,NaN,200165,Lany Kaligis,U,NaN,INA,NaN
4,Grass,200193,Ann Jones,L,NaN,GBR,NaN,200166,Patricia Edwards,U,NaN,AUS,NaN
5,Grass,200145,Kerry Harris,U,NaN,AUS,NaN,200179,Barbara Hawcroft,U,NaN,AUS,NaN
6,Grass,200185,Lesley Hunt,U,NaN,AUS,NaN,200161,Janine Whyte,U,NaN,AUS,NaN
7,Grass,200129,Lesley Bowrey,R,NaN,AUS,NaN,200141,Wendy Gilchrist,L,NaN,AUS,NaN
8,Grass,200194,Francoise Durr,R,NaN,FRA,NaN,200195,H Rush,U,NaN,AUS,NaN
9,Grass,200184,Helen Cawley,U,NaN,AUS,NaN,200160,Judy Dalton,U,NaN,AUS,NaN
10,Grass,200181,Margaret Starr,U,NaN,AUS,NaN,200196,Kerryl Chute,U,NaN,AUS,NaN
11,Grass,200176,Kerry Reid,R,NaN,AUS,NaN,200139,Lita Sugiarto,U,NaN,INA,NaN
12,Grass,200171,Janet Young,U,NaN,AUS,NaN,200174,Kerry Wilkinson,U,NaN,AUS,NaN
13,Grass,200159,Rosie Casals,R,NaN,USA,NaN,200152,Gail Benedetti,R,NaN,FRA,NaN
14,Grass,200188,Helen Amos,U,NaN,AUS,NaN,200197,Pamela Brand,U,NaN,AUS,NaN
15,Grass,200144,Margaret Court,R,NaN,AUS,NaN,200131,Judith Gohn,U,NaN,AUS,NaN
16,Grass,200190,Billie Jean King,R,NaN,USA,NaN,200150,Evonne Cawley,R,NaN,AUS,NaN
17,Grass,200168,Karen Krantzcke,R,NaN,AUS,NaN,200149,Helen Sheedy,U,NaN,AUS,NaN
18,Grass,200193,Ann Jones,L,NaN,GBR,NaN,200145,Kerry Harris,U,NaN,AUS,NaN
19,Grass,200185,Lesley Hunt,U,NaN,AUS,NaN,200129,Lesley Bowrey,R,NaN,AUS,NaN
20,Grass,200184,Helen Cawley,U,NaN,AUS,NaN,200194,Francoise Durr,R,NaN,FRA,NaN
21,Grass,200176,Kerry Reid,R,NaN,AUS,NaN,200181,Margaret Starr,U,NaN,AUS,NaN
22,Grass,200159,Rosie Casals,R,NaN,USA,NaN,200171,Janet Young,U,NaN,AUS,NaN
23,Grass,200144,Margaret Court,R,NaN,AUS,NaN,200188,Helen Amos,U,NaN,AUS,NaN
24,Grass,200190,Billie Jean King,R,NaN,USA,NaN,200168,Karen Krantzcke,R,NaN,AUS,NaN
25,Grass,200193,Ann Jones,L,NaN,GBR,NaN,200185,Lesley Hunt,U,NaN,AUS,NaN
26,Grass,200176,Kerry Reid,R,NaN,AUS,NaN,200184,Helen Cawley,U,NaN,AUS,NaN
27,Grass,200144,Margaret Court,R,NaN,AUS,NaN,200159,Rosie Casals,R,NaN,USA,NaN
28,Grass,200190,Billie Jean King,R,NaN,USA,NaN,200193,Ann Jones,L,NaN,GBR,NaN
29,Grass,200144,Margaret Court,R,NaN,AUS,NaN,200176,Kerry Reid,R,NaN,AUS,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105524,Clay,205925,Aliaksandra Sasnovich,R,NaN,BLR,22.056126,202506,Margarita Gasparyan,R,NaN,RUS,21.609856
105525,Hard,203533,Anna Karolina Schmiedlova,R,NaN,SVK,21.385352,201613,Arina Rodionova,R,NaN,RUS,26.130048
105526,Hard,201325,Samantha Stosur,R,172.0,AUS,31.841205,202450,Jana Cepelova,R,168.0,SVK,22.677618
105527,Hard,201325,Samantha Stosur,R,172.0,AUS,31.841205,203533,Anna Karolina Schmiedlova,R,NaN,SVK,21.385352
105528,Hard,201495,Dominika Cibulkova,R,161.0,SVK,26.740589,214040,Kimberly Birrell,U,NaN,AUS,17.760438
105529,Hard,205925,Aliaksandra Sasnovich,R,NaN,BLR,21.864476,211796,Francoise Abanda,R,NaN,CAN,18.986995
105530,Hard,201486,Aleksandra Wozniak,R,175.0,CAN,28.402464,201501,Olga Govortsova,R,182.0,BLR,27.441478
105531,Hard,211796,Francoise Abanda,R,NaN,CAN,18.986995,201501,Olga Govortsova,R,182.0,BLR,27.441478
105532,Hard,205925,Aliaksandra Sasnovich,R,NaN,BLR,21.864476,201486,Aleksandra Wozniak,R,175.0,CAN,28.402464
105533,Hard,202469,Garbine Muguruza,R,182.0,ESP,22.316222,211736,Ivana Jorovic,R,NaN,SRB,18.748802
105534,Hard,201521,Carla Suarez Navarro,R,162.0,ESP,27.411362,201347,Jelena Jankovic,R,177.0,SRB,30.924025
105535,Hard,202469,Garbine Muguruza,R,182.0,ESP,22.316222,201347,Jelena Jankovic,R,177.0,SRB,30.924025
105536,Hard,201585,Sloane Stephens,R,170.0,USA,22.869268,202663,Magda Linette,R,NaN,POL,23.969884
105537,Hard,200748,Venus Williams,R,185.0,USA,35.624914,203518,Paula Kania,R,NaN,POL,23.236140
105538,Hard,200748,Venus Williams,R,185.0,USA,35.624914,202663,Magda Linette,R,NaN,POL,23.969884
105539,Hard,201435,Kateryna Bondarenko,R,175.0,UKR,29.675565,202395,Maria Irigoyen,U,NaN,ARG,28.799452
105540,Hard,201615,Lesia Tsurenko,R,174.0,UKR,26.866530,206408,Nadia Podoroska,U,NaN,ARG,19.164956
105541,Hard,201615,Lesia Tsurenko,R,174.0,UKR,26.866530,202395,Maria Irigoyen,U,NaN,ARG,28.799452
105542,Clay,201495,Dominika Cibulkova,R,161.0,SVK,26.932238,211796,Francoise Abanda,R,NaN,CAN,19.178645
105543,Clay,203533,Anna Karolina Schmiedlova,R,NaN,SVK,21.577002,201486,Aleksandra Wozniak,R,175.0,CAN,28.594114
105544,Clay,211796,Francoise Abanda,R,NaN,CAN,19.178645,202450,Jana Cepelova,R,168.0,SVK,22.869268
105545,Clay,201495,Dominika Cibulkova,R,161.0,SVK,26.932238,201486,Aleksandra Wozniak,R,175.0,CAN,28.594114
105546,Hard,210931,Ching Wen Hsu,R,NaN,TPE,19.644079,203518,Paula Kania,R,NaN,POL,23.427789
105547,Hard,211684,Magdalena Frech,R,NaN,POL,18.321697,202693,Ya Hsuan Lee,R,NaN,TPE,20.728268
105548,Hard,202693,Ya Hsuan Lee,R,NaN,TPE,20.728268,203518,Paula Kania,R,NaN,POL,23.427789
105549,Hard,210931,Ching Wen Hsu,R,NaN,TPE,19.644079,211684,Magdalena Frech,R,NaN,POL,18.321697
105550,Clay,202434,Aleksandra Krunic,R,NaN,SRB,23.074606,201465,Kirsten Flipkens,R,165.0,BEL,30.250513
105551,Clay,201518,Yanina Wickmayer,R,182.0,BEL,26.475017,206049,Jovana Jaksic,R,NaN,SRB,22.529774
105552,Clay,201518,Yanina Wickmayer,R,182.0,BEL,26.475017,202434,Aleksandra Krunic,R,NaN,SRB,23.074606
105553,Clay,201465,Kirsten Flipkens,R,165.0,BEL,30.250513,211736,Ivana Jorovic,R,NaN,SRB,18.940452

### Гипотеза о том, что правше сложнее играть с левшой:

In [3]:
RWinnerVsR = df[(df.winner_hand=='R') & (df.loser_hand=='R')][['winner_id']]\
.groupby(['winner_id']).agg({'winner_id':['count']})
RWinnerVsR.columns = RWinnerVsR.columns.droplevel(0)

RLoserVsR = df[(df.loser_hand=='R') & (df.winner_hand=='R')][['loser_id']]\
.groupby(['loser_id']).agg({'loser_id':['count']})
RLoserVsR.columns = RLoserVsR.columns.droplevel(0)

RWinnerVsL = df[(df.winner_hand=='R') & (df.loser_hand=='L')][['winner_id']]\
.groupby(['winner_id']).agg({'winner_id':['count']})
RWinnerVsL.columns = RWinnerVsL.columns.droplevel(0)

RLoserVsL = df[(df.loser_hand=='R') & (df.winner_hand=='L')][['loser_id']]\
.groupby(['loser_id']).agg({'loser_id':['count']})
RLoserVsL.columns = RLoserVsL.columns.droplevel(0)

df2 = pd.merge(RWinnerVsR, RLoserVsR, left_index=True, right_index=True, suffixes=['_winVsR', '_loseVsR'])

df2 = pd.merge(df2, RWinnerVsL, left_index=True, right_index=True)
df2 = df2.rename(columns={'count': 'count_winVsL'})

df2 = pd.merge(df2, RLoserVsL, left_index=True, right_index=True)
df2 = df2.rename(columns={'count': 'count_loseVsL'})

df2['count_VsR'] = df2['count_winVsR'] + df2['count_loseVsR']
df2['count_VsL'] = df2['count_winVsL'] + df2['count_loseVsL']
df2['winVsR %'] = 100 * df2['count_winVsR'] / df2['count_VsR']
df2['winVsL %'] = 100 * df2['count_winVsL'] / df2['count_VsL']
df2['Left-hander is a more difficult opponent'] = df2['winVsL %'] < df2['winVsR %']

print 'Left-hander is a more difficult opponent for {0:d} players.'.format(
    df2[df2['Left-hander is a more difficult opponent']==True].shape[0])
print 'Right-hander is a more difficult opponent for {0:d} players.'.format(
    df2[df2['Left-hander is a more difficult opponent']==False].shape[0])

Left-hander is a more difficult opponent for 234 players.
Right-hander is a more difficult opponent for 253 players.

- Вывод: похоже "леворукость" не преимущество :)

### Гипотеза о том, что рост в теннисе - преимущество

In [4]:
s = df['winner_ht'] - df['loser_ht']
s = s[~np.isnan(s)]
print 'Побед при превосходстве над соперноком в росте: {0:d}.'.format(s[(s > 0)].shape[0])
print 'Побед при превосходстве сопернока в росте: {0:d}.'.format(s[(s < 0)].shape[0])
print

Побед при превосходстве над соперноком в росте: 10851.
Побед при превосходстве сопернока в росте: 9183.

In [5]:
s = df['winner_ht'] - df['loser_ht']
s = s[(~np.isnan(s)) & (np.abs(s)>=5)]
print 'Побед при превосходстве над соперноком в росте на 5 и более см: {0:d}.'.format(s[(s > 0)].shape[0])
print 'Побед при превосходстве сопернока в росте на 5 и более см: {0:d}.'.format(s[(s < 0)].shape[0])

Побед при превосходстве над соперноком в росте на 5 и более см: 7590.
Побед при превосходстве сопернока в росте на 5 и более см: 6152.

In [6]:
s = df['winner_ht'] - df['loser_ht']
s = s[(~np.isnan(s)) & (np.abs(s)>=10)]
print 'Побед при превосходстве над соперноком в росте на 10 и более см: {0:d}.'.format(s[(s > 0)].shape[0])
print 'Побед при превосходстве сопернока в росте на 10 и более см: {0:d}.'.format(s[(s < 0)].shape[0])

Побед при превосходстве над соперноком в росте на 10 и более см: 4009.
Побед при превосходстве сопернока в росте на 10 и более см: 3008.

In [7]:
s = df['winner_ht'] - df['loser_ht']
s = s[(~np.isnan(s)) & (np.abs(s)>=15)]
print 'Побед при превосходстве над соперноком в росте на 15 и более см: {0:d}.'.format(s[(s > 0)].shape[0])
print 'Побед при превосходстве сопернока в росте на 15 и более см: {0:d}.'.format(s[(s < 0)].shape[0])

Побед при превосходстве над соперноком в росте на 15 и более см: 1678.
Побед при превосходстве сопернока в росте на 15 и более см: 1087.

- Гипотеза скорее верна

### Соберем данные по игрокам

In [157]:
winners = df[['winner_id', 'winner_name', 'winner_ioc']].rename(columns={'winner_id':'player_id', 'winner_name':'name', 'winner_ioc':'ioc'})
losers = df[['loser_id', 'loser_name', 'loser_ioc']].rename(columns={'loser_id':'player_id', 'loser_name':'name', 'loser_ioc':'ioc'})
df3 = pd.concat([winners, losers])
df3 = df3.drop_duplicates()
won = winners[['player_id', 'ioc']].groupby('player_id', as_index=False).count().rename(columns={'ioc':'won'})
lost = losers[['player_id', 'ioc']].groupby('player_id', as_index=False).count().rename(columns={'ioc':'lost'})
df4 = pd.merge(won, lost, on=['player_id'], how='outer')
df4 = df4.fillna(0)
df4 = pd.merge(df4, df3, on='player_id', how='left')
df4['games'] = df4['won'] + df4['lost']
df4['won %'] = 100 * df4['won'] / df4['games']
df4.head()

   player_id    won   lost                   name  ioc  games      won %
0     200001  534.0  131.0         Martina Hingis  SUI  665.0  80.300752
1     200002  126.0  148.0          Mirjana Lucic  CRO  274.0  45.985401
2     200003  463.0  104.0          Justine Henin  BEL  567.0  81.657848
3     200004   38.0   49.0        Kerry Anne Guse  AUS   87.0  43.678161
4     200005   45.0   80.0  Jolene Watanabe Giltz  USA  125.0  36.000000

### Распределение игроков по странам

In [158]:
df4[['ioc','player_id']].groupby('ioc', as_index=False).count().sort_values(['player_id', 'ioc'], ascending=[False, True]).head(10)

     ioc  player_id
126  USA        578
5    AUS        279
63   JPN        151
44   GBR        129
42   FRA        125
46   GER        120
60   ITA         87
102  RUS         83
37   ESP         81
30   CZE         77

- Первая десятка: США, Австралия, Япония, Великобритания, Франция, Германия, Италия, Россия, Испания, Чехия

### Лучшие игроки из тех, что провели более 100 игр

In [159]:
df4[df4.games > 100].sort_values('won %', ascending=False).head(20)

,player_id,won,lost,name,ioc,games,won %
339,200414,903.0,108.0,Steffi Graf,GER,1011.0,89.317507
230,200293,1231.0,150.0,Martina Navratilova,USA,1381.0,89.138306
207,200259,880.0,111.0,Chris Evert,USA,991.0,88.799193
135,200144,106.0,14.0,Margaret Court,AUS,120.0,88.333333
32,200033,767.0,140.0,Serena Williams,USA,907.0,84.564498
564,200652,595.0,125.0,Monica Seles,USA,720.0,82.638889
2,200003,463.0,104.0,Justine Henin,BEL,567.0,81.657848
140,200150,262.0,64.0,Evonne Cawley,AUS,326.0,80.368098
0,200001,534.0,131.0,Martina Hingis,SUI,665.0,80.300752
78,200079,487.0,126.0,Kim Clijsters,BEL,613.0,79.445351
1076,201345,563.0,148.0,Maria Sharapova,RUS,711.0,79.184248
127,200128,737.0,194.0,Lindsay Davenport,USA,931.0,79.162191
322,200397,314.0,84.0,Tracy Austin,USA,398.0,78.894472
160,200190,246.0,73.0,Billie Jean King,USA,319.0,77.115987
659,200748,719.0,214.0,Venus Williams,USA,933.0,77.063237
488,200572,619.0,185.0,Gabriela Sabatini,ARG,804.0,76.990050
306,200381,240.0,83.0,Andrea Jaeger,USA,323.0,74.303406
274,200348,505.0,177.0,Hana Mandlikova,AUS,682.0,74.046921
16,200017,762.0,290.0,Arantxa Sanchez Vicario,ESP,1052.0,72.433460
1177,201458,420.0,160.0,Victoria Azarenka,BLR,580.0,72.413793

### Тройка игроков с максимальным кол-ом проведенных игр

In [160]:
df4.sort_values('games', ascending=False).head(3)

     player_id     won   lost                     name  ioc   games      won %
230     200293  1231.0  150.0      Martina Navratilova  USA  1381.0  89.138306
16      200017   762.0  290.0  Arantxa Sanchez Vicario  ESP  1052.0  72.433460
339     200414   903.0  108.0              Steffi Graf  GER  1011.0  89.317507

### Типы покрытия корта:

In [161]:
df['surface'].drop_duplicates().dropna()

0        Grass
31        Clay
1052      Hard
2506    Carpet
Name: surface, dtype: object

In [162]:
for surface in df['surface'].drop_duplicates().dropna():
    won_on_surface = df[df.surface==surface][['surface','winner_id']].groupby('winner_id', as_index=False).count().rename(columns={'winner_id':'player_id','surface':'won_on_'+surface})
    lost_on_surface = df[df.surface==surface][['surface','loser_id']].groupby('loser_id', as_index=False).count().rename(columns={'loser_id':'player_id','surface':'lost_on_'+surface})
    on_surface = pd.merge(won_on_surface, lost_on_surface, on='player_id', how='outer')
    on_surface = on_surface.fillna(0)
    on_surface['on_'+surface] = on_surface['won_on_'+surface] + on_surface['lost_on_'+surface]
    on_surface['won_on_'+surface+' %'] = 100 * on_surface['won_on_'+surface] / on_surface['on_'+surface]
    df4 = pd.merge(df4, on_surface, on='player_id', how='left')
df4 = df4.fillna(0)
df4

,player_id,won,lost,name,ioc,games,won %,won_on_Grass,lost_on_Grass,on_Grass,...,on_Clay,won_on_Clay %,won_on_Hard,lost_on_Hard,on_Hard,won_on_Hard %,won_on_Carpet,lost_on_Carpet,on_Carpet,won_on_Carpet %
0,200001,534.0,131.0,Martina Hingis,SUI,665.0,80.300752,27.0,8.0,35.0,...,146.0,81.506849,302.0,79.0,381.0,79.265092,86.0,17.0,103.0,83.495146
1,200002,126.0,148.0,Mirjana Lucic,CRO,274.0,45.985401,21.0,22.0,43.0,...,84.0,57.142857,56.0,87.0,143.0,39.160839,1.0,3.0,4.0,25.000000
2,200003,463.0,104.0,Justine Henin,BEL,567.0,81.657848,53.0,11.0,64.0,...,153.0,85.620915,258.0,58.0,316.0,81.645570,21.0,13.0,34.0,61.764706
3,200004,38.0,49.0,Kerry Anne Guse,AUS,87.0,43.678161,24.0,16.0,40.0,...,4.0,0.000000,12.0,27.0,39.0,30.769231,2.0,2.0,4.0,50.000000
4,200005,45.0,80.0,Jolene Watanabe Giltz,USA,125.0,36.000000,3.0,7.0,10.0,...,22.0,22.727273,30.0,49.0,79.0,37.974684,7.0,7.0,14.0,50.000000
5,200006,190.0,183.0,Karina Habsudova,SVK,373.0,50.938338,6.0,15.0,21.0,...,132.0,58.333333,81.0,77.0,158.0,51.265823,26.0,36.0,62.0,41.935484
6,200007,138.0,157.0,Silvija Talaja,CRO,295.0,46.779661,11.0,14.0,25.0,...,132.0,53.030303,55.0,72.0,127.0,43.307087,2.0,9.0,11.0,18.181818
7,200008,196.0,185.0,Alicia Molik,AUS,381.0,51.443570,30.0,29.0,59.0,...,69.0,39.130435,138.0,110.0,248.0,55.645161,1.0,4.0,5.0,20.000000
8,200009,326.0,295.0,Tamarine Tanasugarn,THA,621.0,52.495974,84.0,39.0,123.0,...,70.0,25.714286,217.0,196.0,413.0,52.542373,7.0,8.0,15.0,46.666667
9,200010,178.0,228.0,Rita Grande,ITA,406.0,43.842365,15.0,24.0,39.0,...,102.0,40.196078,110.0,124.0,234.0,47.008547,12.0,19.0,31.0,38.709677
10,200011,244.0,218.0,Katarina Srebotnik,SLO,462.0,52.813853,12.0,18.0,30.0,...,167.0,58.083832,128.0,119.0,247.0,51.821862,7.0,11.0,18.0,38.888889
11,200012,68.0,111.0,Jana Nejedly,CAN,179.0,37.988827,2.0,10.0,12.0,...,47.0,48.936170,35.0,60.0,95.0,36.842105,8.0,17.0,25.0,32.000000
12,200013,84.0,117.0,Angelica Gavaldon,MEX,201.0,41.791045,5.0,9.0,14.0,...,44.0,43.181818,58.0,73.0,131.0,44.274809,2.0,10.0,12.0,16.666667
13,200014,57.0,66.0,Tzipi Obziler,ISR,123.0,46.341463,0.0,3.0,3.0,...,45.0,48.888889,34.0,40.0,74.0,45.945946,1.0,0.0,1.0,100.000000
14,200015,80.0,86.0,Petra Mandula,HUN,166.0,48.192771,2.0,5.0,7.0,...,93.0,60.215054,22.0,43.0,65.0,33.846154,0.0,1.0,1.0,0.000000
15,200016,317.0,242.0,Sandrine Testud,FRA,559.0,56.708408,19.0,21.0,40.0,...,149.0,53.691275,186.0,119.0,305.0,60.983607,32.0,33.0,65.0,49.230769
16,200017,762.0,290.0,Arantxa Sanchez Vicario,ESP,1052.0,72.433460,56.0,18.0,74.0,...,460.0,76.739130,305.0,124.0,429.0,71.095571,39.0,40.0,79.0,49.367089
17,200018,8.0,10.0,Julia Abe,GER,18.0,44.444444,0.0,0.0,0.0,...,13.0,46.153846,0.0,2.0,2.0,0.000000,2.0,1.0,3.0,66.666667
18,200019,90.0,148.0,Alexandra Fusai,FRA,238.0,37.815126,3.0,14.0,17.0,...,126.0,45.238095,24.0,47.0,71.0,33.802817,6.0,18.0,24.0,25.000000
19,200020,330.0,279.0,Lisa Raymond,USA,609.0,54.187192,53.0,36.0,89.0,...,99.0,46.464646,175.0,152.0,327.0,53.516820,56.0,38.0,94.0,59.574468
20,200021,125.0,180.0,Alexia Dechaume Balleret,FRA,305.0,40.983607,10.0,16.0,26.0,...,118.0,43.220339,57.0,85.0,142.0,40.140845,7.0,12.0,19.0,36.842105
21,200022,128.0,190.0,Emmanuelle Gagliardi,SUI,318.0,40.251572,12.0,18.0,30.0,...,143.0,45.454545,49.0,85.0,134.0,36.567164,2.0,9.0,11.0,18.181818
22,200023,28.0,29.0,Bryanne Stewart,AUS,57.0,49.122807,4.0,9.0,13.0,...,11.0,63.636364,13.0,12.0,25.0,52.000000,4.0,4.0,8.0,50.000000
23,200024,118.0,168.0,Maria Vento Kabchi,VEN,286.0,41.258741,16.0,20.0,36.0,...,68.0,38.235294,61.0,88.0,149.0,40.939597,15.0,18.0,33.0,45.454545
24,200025,77.0,100.0,Ludmila Cervanova,SVK,177.0,43.502825,6.0,11.0,17.0,...,119.0,51.260504,10.0,30.0,40.0,25.000000,0.0,1.0,1.0,0.000000
25,200026,208.0,194.0,Florencia Labat,ARG,402.0,51.741294,12.0,12.0,24.0,...,158.0,50.000000,109.0,84.0,193.0,56.476684,8.0,18.0,26.0,30.769231
26,200027,193.0,196.0,Magui Serna,ESP,389.0,49.614396,28.0,20.0,48.0,...,147.0,59.183673,64.0,89.0,153.0,41.830065,14.0,27.0,41.0,34.146341
27,200028,50.0,96.0,Maureen Drake,CAN,146.0,34.246575,5.0,11.0,16.0,...,35.0,40.000000,27.0,57.0,84.0,32.142857,4.0,7.0,11.0,36.363636
28,200029,77.0,38.0,Lisa Mcshea,AUS,115.0,66.956522,49.0,17.0,66.0,...,27.0,74.074074,3.0,10.0,13.0,23.076923,5.0,4.0,9.0,55.555556
29,200030,24.0,37.0,Miroslava Vavrinec,SUI,61.0,39.344262,0.0,4.0,4.0,...,27.0,37.037037,14.0,16.0,30.0,46.666667,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,214713,0.0,1.0,Camila Romero,ECU,1.0,0.000000,0.0,0.0,0.0,...,1.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4273,214818,0.0,1.0,Mira Antonitsch,AUT,1.0,0.000000,0.0,0.0,0.0,...,1.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4274,214842,0.0,1.0,Zuleykha Safarova,AZE,1.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,1.0,1.0,0.000000,0.0,0.0,0.0,0.000000
4275,214863,0.0,1.0,Sofya Zhuk,RUS,1.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,1.0,1.0,0.000000,0.0,0.0,0.0,0.000000
4276,214939,0.0,1.0,Anna Kalinskaya,RUS,1.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,1.0,1.0,0.000000,0.0,0.0,0.0,0.000000
4277,215035,0.0,3.0,Dayana Yastremska,UKR,3.0,0.000000,0.0,0.0,0.0,...,1.0,0.000000,0.0,2.0,2.0,0.000000,0.0,0.0,0.0,0.000000
4278,215064,0.0,1.0,Maria Mateas,USA,1.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,1.0,1.0,0.000000,0.0,0.0,0.0,0.000000
4279,215122,0.0,1.0,Angeline Devi Devanthiran,SIN,1.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,1.0,1.0,0.000000,0.0,0.0,0.0,0.000000
4280,215124,0.0,1.0,Sara Amini,IRI,1.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,1.0,1.0,0.000000,0.0,0.0,0.0,0.000000
4281,215125,0.0,1.0,Saara Kunakunova,KGZ,1.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,1.0,1.0,0.000000,0.0,0.0,0.0,0.000000
4282,215126,0.0,1.0,Eliza Askarova,KGZ,1.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,1.0,1.0,0.000000,0.0,0.0,0.0,0.000000
4283,215155,0.0,1.0,Olesya Pervushina,RUS,1.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,1.0,1.0,0.000000,0.0,0.0,0.0,0.000000
4284,215165,0.0,1.0,Daniela Obando,HON,1.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4285,215375,0.0,1.0,Dominique Schaefer,PER,1.0,0.000000,0.0,0.0,0.0,...,1.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4286,215696,0.0,1.0,Diae El Jardi,MAR,1.0,0.000000,0.0,0.0,0.0,...,1.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4287,215784,0.0,1.0,Anastasia Iamachkine,PER,1.0,0.000000,0.0,0.0,0.0,...,1.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4288,215786,0.0,1.0,Julieanne Bou,PUR,1.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4289,215788,0.0,1.0,Alejandra Obando,HON,1.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4290,215789,0.0,1.0,Penelope Abreu,DOM,1.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4291,215858,0.0,1.0,Charmaine Shi Yi Seah,SIN,1.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,1.0,1.0,0.000000,0.0,0.0,0.0,0.000000
4292,215859,0.0,1.0,Mayka Zima,POC,1.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,1.0,1.0,0.000000,0.0,0.0,0.0,0.000000
4293,215860,0.0,1.0,Nazli Nader Redha,BRN,1.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,1.0,1.0,0.000000,0.0,0.0,0.0,0.000000
4294,215861,0.0,1.0,Maram Mohamed Sharif,BRN,1.0,0.000000,0.0,0.0,0.0,...,0.0,0.000000,0.0,1.0,1.0,0.000000,0.0,0.0,0.0,0.000000
4295,215862,0.0,1.0,Vitalia Stamat,MDA,1.0,0.000000,0.0,0.0,0.0,...,1.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4296,215863,0.0,1.0,Katarina Marinkovikj,MKD,1.0,0.000000,0.0,0.0,0.0,...,1.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4297,215865,0.0,1.0,Anna Bowtell,IRL,1.0,0.000000,0.0,0.0,0.0,...,1.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4298,215866,0.0,1.0,Jennifer Timotin,IRL,1.0,0.000000,0.0,0.0,0.0,...,1.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4299,215867,0.0,1.0,Anna Savchenko,CYP,1.0,0.000000,0.0,0.0,0.0,...,1.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4300,215868,0.0,1.0,Gerda Zykute,LTU,1.0,0.000000,0.0,0.0,0.0,...,1.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4301,215869,0.0,1.0,Paulina Bakaite,LTU,1.0,0.000000,0.0,0.0,0.0,...,1.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000

In [182]:
df4['preferred_surface'] = df4[['won_on_Grass %','won_on_Clay %','won_on_Hard %','won_on_Carpet %']].idxmax(axis=1)

### Топ 20 из тех, что лучше играет на траве

In [191]:
df4[(df4.on_Grass>20) & (df4.preferred_surface=='won_on_Grass %')][['name','ioc','games','won %','on_Grass','won_on_Grass %']].sort_values('won_on_Grass %', ascending=False).head(20)

                    name  ioc  games      won %  on_Grass  won_on_Grass %
135       Margaret Court  AUS  120.0  88.333333      75.0       92.000000
32       Serena Williams  USA  907.0  84.564498     107.0       88.785047
140        Evonne Cawley  AUS  326.0  80.368098     158.0       82.911392
659       Venus Williams  USA  933.0  77.063237     104.0       82.692308
456         Jana Novotna  CZE  734.0  71.798365      95.0       78.947368
1319        Madison Keys  USA  217.0  61.290323      32.0       78.125000
286          Pam Shriver  USA  861.0  69.337979     244.0       76.229508
76     Jennifer Capriati  USA  583.0  70.497427      61.0       75.409836
329        Zina Garrison  USA  853.0  68.581477     164.0       75.000000
152           Kerry Reid  AUS  297.0  69.360269     119.0       74.789916
28           Lisa Mcshea  AUS  115.0  66.956522      66.0       74.242424
479          Jane Taylor  AUS   40.0  57.500000      27.0       74.074074
1230      Sabine Lisicki  GER  371.0  55.525606      56.0       73.214286
704         Nancy Richey  USA   82.0  64.634146      37.0       72.972973
1617        Eva Krejcova  CZE   26.0  69.230769      25.0       72.000000
302        Helena Sukova  CZE  928.0  66.810345     174.0       71.839080
186        Olga Morozova  URS   90.0  70.000000      46.0       71.739130
278        Greer Stevens  RSA  155.0  63.225806      46.0       71.739130
96      Nathalie Tauziat  FRA  898.0  62.026726     152.0       71.710526
512   Mary Joe Fernandez  USA  627.0  67.942584      77.0       71.428571

### Топ 20 из тех, что лучше играет на грунтовом покрытии

In [192]:
df4[(df4.on_Clay>20) & (df4.preferred_surface=='won_on_Clay %')][['name','ioc','games','won %','on_Clay','won_on_Clay %']].sort_values('won_on_Clay %', ascending=False).head(20)

                         name  ioc   games      won %  on_Clay  won_on_Clay %
207               Chris Evert  USA   991.0  88.799193    294.0      93.877551
339               Steffi Graf  GER  1011.0  89.317507    304.0      90.131579
2               Justine Henin  BEL   567.0  81.657848    153.0      85.620915
564              Monica Seles  USA   720.0  82.638889    171.0      84.210526
1076          Maria Sharapova  RUS   711.0  79.184248    160.0      82.500000
652                Renee Reid  AUS    49.0  67.346939     22.0      81.818182
322              Tracy Austin  USA   398.0  78.894472     63.0      80.952381
488         Gabriela Sabatini  ARG   804.0  76.990050    248.0      79.838710
306             Andrea Jaeger  USA   323.0  74.303406     94.0      77.659574
16    Arantxa Sanchez Vicario  ESP  1052.0  72.433460    460.0      76.739130
48          Conchita Martinez  ESP  1008.0  70.634921    388.0      76.546392
1929          Melissa Beadman  AUS    35.0  65.714286     25.0      76.000000
1070            Dinara Safina  RUS   467.0  65.096360    139.0      72.661871
64            Amelie Mauresmo  FRA   687.0  71.761281    187.0      72.192513
264           Virginia Ruzici  ROU   585.0  62.905983    226.0      70.796460
1142                    Na Li  CHN   530.0  69.056604    110.0      70.000000
1054      Svetlana Kuznetsova  RUS   820.0  66.463415    213.0      69.953052
1063           Vera Zvonareva  RUS   654.0  66.360856    143.0      69.930070
246            Helga Masthoff  FRG    73.0  68.493151     43.0      69.767442
298            Bonnie Gadusek  USA   254.0  64.566929     88.0      69.318182

### Топ 20 из тех, что лучше играет на твердом покрытии

In [193]:
df4[(df4.on_Hard>20) & (df4.preferred_surface=='won_on_Hard %')][['name','ioc','games','won %','on_Hard','won_on_Hard %']].sort_values('won_on_Hard %', ascending=False).head(20)

                           name  ioc  games      won %  on_Hard  won_on_Hard %
2418         Yamile Fors Guerra  CUB   49.0  59.183673     22.0      86.363636
160            Billie Jean King  USA  319.0  77.115987     45.0      84.444444
1969            Petra Russegger  AUT   31.0  83.870968     31.0      83.870968
78                Kim Clijsters  BEL  613.0  79.445351    405.0      81.481481
127           Lindsay Davenport  USA  931.0  79.162191    597.0      80.402010
1644             Keiko Nagatomi  JPN   22.0  77.272727     22.0      77.272727
1177          Victoria Azarenka  BLR  580.0  72.413793    394.0      74.619289
326   Manuela Maleeva Fragniere  SUI  664.0  71.837349    205.0      73.170732
1214         Caroline Wozniacki  DEN  697.0  70.157819    497.0      71.629779
1192        Agnieszka Radwanska  POL  723.0  69.847856    505.0      70.891089
1625               Joana Cortez  BRA   38.0  57.894737     23.0      69.565217
1965            Daniela Olivera  URU   46.0  63.043478     36.0      69.444444
379            Katerina Maleeva  BUL  538.0  63.940520    222.0      68.918919
1900          Kildine Chevalier  FRA   22.0  68.181818     22.0      68.181818
1295               Simona Halep  ROU  373.0  65.951743    226.0      66.814159
297               Bettina Bunge  GER  466.0  62.446352    115.0      65.217391
2928    Catherine Cartan Bellis  USA   23.0  65.217391     23.0      65.217391
1684       Maria Fernanda Alves  BRA   67.0  56.716418     33.0      63.636364
1610       Orawan Wongkamalasai  THA   24.0  58.333333     22.0      63.636364
300              Barbara Potter  USA  468.0  61.752137    137.0      63.503650

### Топ 20 из тех, что лучше играет на ковровом покрытии

In [194]:
df4[(df4.on_Carpet>20) & (df4.preferred_surface=='won_on_Carpet %')][['name','ioc','games','won %','on_Carpet','won_on_Carpet %']].sort_values('won_on_Carpet %', ascending=False).head(20)

,name,ioc,games,won %,on_Carpet,won_on_Carpet %
230,Martina Navratilova,USA,1381.0,89.138306,494.0,91.295547
0,Martina Hingis,SUI,665.0,80.300752,103.0,83.495146
679,Anastasia Myskina,RUS,399.0,63.659148,44.0,77.272727
274,Hana Mandlikova,AUS,682.0,74.046921,165.0,74.545455
85,Magdalena Maleeva,BUL,690.0,58.985507,171.0,64.912281
531,Kimiko Date Krumm,JPN,463.0,57.451404,39.0,61.538462
79,Dominique Monami,BEL,390.0,57.692308,79.0,60.759494
604,Elena Makarova,RUS,153.0,48.366013,33.0,60.606061
94,Linda Wild,USA,280.0,48.214286,45.0,60.000000
19,Lisa Raymond,USA,609.0,54.187192,94.0,59.574468
577,Yone Kamio,JPN,94.0,45.744681,22.0,54.545455
49,Sandra Kleinova,CZE,180.0,32.777778,24.0,54.166667
93,Barbara Rittner,GER,446.0,49.327354,69.0,53.623188
756,Kristien Shaw,USA,61.0,42.622951,23.0,52.173913
126,Sarah Pitkowski Malcor,FRA,234.0,47.008547,33.0,51.515152
425,Marianne Werdel Witmeyer,USA,373.0,46.112601,66.0,50.000000
359,Barbara Gerken,USA,156.0,38.461538,30.0,50.000000
69,Anne Gaelle Sidot,FRA,215.0,41.860465,54.0,48.148148
41,Els Callens,BEL,227.0,40.528634,54.0,48.148148
104,Rachel Mcquillan,AUS,378.0,44.179894,34.0,47.058824

### Влияние возраста на успех в игре

In [227]:
df5 = df[['winner_age', 'loser_age']].dropna().astype(int)
df5 = pd.merge(
    df5.groupby('winner_age', as_index=False).count().rename(columns={'winner_age':'age','loser_age':'won'}),
    df5.groupby('loser_age', as_index=False).count().rename(columns={'loser_age':'age','winner_age':'lost'}),
    on='age'
)
df5['games'] = df5['won'] + df5['lost']
df5['won %'] = 100 * df5['won'] / df5['games']
df5[df5.games>20]

    age   won  lost  games      won %
0    13    12    10     22  54.545455
1    14   291   358    649  44.838213
2    15   837   976   1813  46.166575
3    16  1964  2003   3967  49.508445
4    17  3767  3650   7417  50.788729
5    18  6135  6032  12167  50.423276
6    19  7347  7699  15046  48.830254
7    20  8279  8471  16750  49.426866
8    21  8472  8856  17328  48.891967
9    22  8657  8488  17145  50.492855
10   23  8127  8022  16149  50.325098
11   24  7726  7556  15282  50.556210
12   25  6877  6740  13617  50.503048
13   26  6107  5939  12046  50.697327
14   27  4821  4734   9555  50.455259
15   28  3694  3654   7348  50.272183
16   29  2695  2592   5287  50.974087
17   30  1884  1929   3813  49.409913
18   31  1355  1275   2630  51.520913
19   32   895   885   1780  50.280899
20   33   555   540   1095  50.684932
21   34   313   293    606  51.650165
22   35   140   155    295  47.457627
23   36    84    76    160  52.500000
24   37    46    47     93  49.462366
25   38    13    38     51  25.490196
26   39    30    43     73  41.095890
27   40    15    31     46  32.608696
28   41     4    17     21  19.047619
29   42    18    26     44  40.909091
30   43    12    17     29  41.379310

- В данных "старше 40 лет" наблюдается заметное отклонение от 50% в сторону проигрыша, но там и самих данных маловато - воможно погрешность. В целом возраст не влияет на исход игры, точнее спротсмены знают когда надо уходить и "вовремя" завершают карьеру.